@font-face {
  font-family: grotesque;
  src: url('../grotesque.otf');
}

body {
  overflow-y: scroll;
  background: #F5F5F5;
}

#top {
  box-sizing: border-box;
  padding-top: calc(120px - 22px);
  text-align: center;
  height: 120px;
  width: 704px;
  margin: auto;
}

#indhold {
  width: 704px;
  z-index: -1;
  box-sizing: border-box;
  border-top: 4.5px solid black;
  min-height: calc(100% - 120px);
  background: #FFF;
  padding: 30px 38px;
  position: absolute;
  border-radius: 1px 1px 0 0;
  transform: translateX(-50%);
  left: 50%;
}

#bund {
  bottom: 0;
  left: 0;
  height: 60px;
  position: absolute;
  background: #F5F5F5;
  width: 100%;
}

span {
  font-size: 15px;
  font-weight: 700;
  font-family: grotesque, arial;
  text-transform: uppercase;
  letter-spacing: .1em;
  
}

#navi {
  padding-bottom: 4.5px;
  padding-left: 11px;
  padding-right: 11px;
  background: #F5F5F5;
}

#navi span {
  padding-left: 11px;
  padding-right: 11px;
}

#navi a {
  color: black;
  cursor: pointer;
  border-bottom: 4.5px solid;
  transition: color .7s;
  text-decoration: none;
}

#navi a:hover {
  color: brown;
}

#navi a.active {
  color: brown;
}

iframe {
  display: none;
}

iframe.active {
  display: block;
  border: none;
  width: 100%;
}

#titel {
  top: -10px;
  font-size: 22px;
  font-weight: 700;
  font-family: grotesque, arial;
  text-transform: uppercase;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}
